Repository alexschimpf/flagship: changes, and which pre-commit hooks are due for each by the changed paths.
All: admin-type-check, flags-type-check, sdk-python-type-check, frontend-lint

.pre-commit-config.yml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [ --fix, --config=admin/pyproject.toml, "admin/**" ]
      - id: ruff-format
        args: [ --config=admin/pyproject.toml, "admin/**" ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [ --fix, --config=flags/pyproject.toml, "flags/**" ]
      - id: ruff-format
        args: [ --config=flags/pyproject.toml, "flags/**" ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [ --fix, --config=sdk/python/pyproject.toml, "sdk/python/**" ]
      - id: ruff-format
        args: [ --config=sdk/python/pyproject.toml, "sdk/python/**" ]
  - repo: local
    hooks:
      - id: admin-type-check
        name: admin-type-check
        entry: "make -C admin type-check"
        language: system
        types: [python]
        require_serial: true
        verbose: true
  - repo: local
    hooks:
      - id: flags-type-check
        name: flags-type-check
        entry: "make -C flags type-check"
        language: system
        types: [python]
        require_serial: true
        verbose: true
  - repo: local
    hooks:
      - id: sdk-python-type-check
        name: sdk-python-type-check
        entry: "make -C sdk/python type-check"
        language: system
        types: [python]
        require_serial: true
        verbose: true
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend-lint
        entry: "npm --prefix frontend run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx, html, css]
        require_serial: true
        verbose: true

fixes
  .pre-commit-config.yaml
Due: none

test
  .pre-commit-config.yaml
  Makefile
  admin/Makefile
  flags/Makefile
  frontend/package-lock.json
  sdk/python/Makefile
Due: none

test
  .pre-commit-config.yaml
  frontend/src/lib/api.tsx
Due: frontend-lint

more workflows...
  .github/workflows/frontend-pull-request.yml
  .github/workflows/sdk-javascript-pull-request.yml
  .pre-commit-config.yaml
  sdk/javascript/.eslintrc.json
  sdk/javascript/index.js
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: frontend-lint

fixes
  Makefile
  sdk/javascript/package.json
Due: none

python sdk build stuff
  .pre-commit-config.yaml
  admin/requirements-dev.txt
  flags/app/bootstrap.py
  flags/requirements-dev.txt
  sdk/python/LICENSE.txt
  sdk/python/README.md
  sdk/python/__init__.py
  sdk/python/flagship/__init__.py
  sdk/python/pyproject.toml
  sdk/python/requirements-dev.txt
  sdk/python/requirements.txt
  sdk/python/version.json
Due: admin-type-check, flags-type-check, sdk-python-type-check

python sdk deploy workflow
  .gitignore
  sdk/python/Makefile
  sdk/python/flagship/py.typed
  sdk/python/pyproject.toml
  sdk/python/requirements-dev.txt
Due: none

more workflow stuff
  .github/workflows/admin-deploy.yml
  .github/workflows/flags-deploy.yml
  .github/workflows/frontend-deploy.yml
  .github/workflows/sdk-javascript-deploy.yml
  .github/workflows/sdk-python-deploy.yml
  sdk/javascript/LICENSE.txt
  sdk/javascript/README.md
  sdk/javascript/package.json
Due: none

added docs
  docs/admin.md
  docs/flags.md
  docs/index.md
  docs/sdk.md
  docs/ui.md
  mkdocs.yml
  requirements.txt
  sdk/javascript/Makefile
Due: none

more docs stuff
  Makefile
  docs/admin-api.md
  docs/admin.md
  docs/configuration.md
  docs/context-fields.md
  docs/feature-flags.md
  docs/flags-api.md
  docs/flags.md
  docs/index.md
  docs/projects.md
  docs/sdk.md
  docs/users.md
  mkdocs.yml
  requirements.txt
  sdk/javascript/package-lock.json
Due: none

more docs
  docs/admin-api.md
  docs/context-fields.md
  docs/css/extra.css
  docs/feature-flags.md
  docs/flags-api.md
  docs/index.md
  docs/sdk.md
  docs/sdks.md
  docs/ui.md
  docs/users.md
  mkdocs.yml
  sdk/javascript/index.js
  sdk/python/flagship/__init__.py
Due: admin-type-check, flags-type-check, sdk-python-type-check, frontend-lint

more docs
  docs/admin-api.md
  docs/configuration.md
  docs/development.md
  docs/flags-api.md
  docs/index.md
  docs/installation.md
  docs/projects.md
  docs/sdk.md
  docs/ui.md
  docs/users.md
  frontend/Dockerfile
  mkdocs.yml
Due: none

fixed relative docs links + added development page
  docs/admin-api.md
  docs/development.md
  docs/example.md
  docs/feature-flags.md
  docs/flags-api.md
  docs/index.md
  docs/installation.md
  docs/projects.md
  docs/ui.md
  docs/users.md
  mkdocs.yml
Due: none

Deployed 478922a with MkDocs version: 1.5.3
  404.html
  context-fields/index.html
  development/index.html
  example/index.html
  feature-flags/index.html
  flags-api/index.html
  index.html
  installation/index.html
  projects/index.html
  sdk/index.html
  search.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  ui/index.html
  users/index.html
Due: frontend-lint

rest of docs
  docs/example.md
  docs/index.md
Due: none

Deployed 3dbde5b with MkDocs version: 1.5.3
  example/index.html
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: frontend-lint

removed .vscode
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Due: none

added readme
  README.md
  docs/index.md
Due: none

Deployed 97da153 with MkDocs version: 1.5.3
  index.html
  sitemap.xml.gz
Due: frontend-lint

removed frontend readme
  frontend/README.md
Due: none

fixed make command
  docs/development.md
  docs/index.md
Due: none

Deployed 9b5e38c with MkDocs version: 1.5.3
  .DS_Store
  development/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: frontend-lint

more fixes after making example project
  docker/Makefile
  frontend/.dockerignore
  frontend/src/api/core/CancelablePromise.ts
  sdk/javascript/index.js
  sdk/python/flagship/__init__.py
Due: admin-type-check, flags-type-check, sdk-python-type-check, frontend-lint

fix for python deploy
  .github/workflows/sdk-python-deploy.yml
  frontend/Dockerfile
Due: none

renamed pypi package
  sdk/python/pyproject.toml
Due: none

updated docs
  docs/sdk.md
Due: none

fix
  docs/sdk.md
  sdk/python/flagship_sdk/__init__.py
  sdk/python/flagship_sdk/py.typed
  sdk/python/pyproject.toml
Due: admin-type-check, flags-type-check, sdk-python-type-check

updated sdk name for npm
  docs/sdk.md
  sdk/javascript/package.json
Due: none

Deployed 404bd7d with MkDocs version: 1.5.3
  images/context-field-audit-logs.png
  images/context-fields.png
  images/edit-context-field.png
  images/edit-feature-flag.png
  images/feature-flag-audit-logs.png
  images/feature-flags.png
  images/homepage.png
  images/light-mode.png
  images/members.png
  images/private-keys.png
  images/system-audit-logs.png
  index.html
  sdk/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  ui/index.html
Due: frontend-lint

added screenshots to docs
  docs/images/context-field-audit-logs.png
  docs/images/context-fields.png
  docs/images/edit-context-field.png
  docs/images/edit-feature-flag.png
  docs/images/feature-flag-audit-logs.png
  docs/images/feature-flags.png
  docs/images/homepage.png
  docs/images/light-mode.png
  docs/images/members.png
  docs/images/private-keys.png
  docs/images/system-audit-logs.png
  docs/index.md
  docs/ui.md
Due: none

finished _generateSignature function for js sdk
  sdk/javascript/index.js
Due: frontend-lint

upped js sdk version
  sdk/javascript/package.json
Due: none

added issue and pr templates
  .github/issue_template.md
  .github/pull_request_template.md
Due: none

fixed some workflow issues
  .github/workflows/admin-pull-request.yml
  .github/workflows/flags-pull-request.yml
  .github/workflows/frontend-pull-request.yml
  .github/workflows/sdk-javascript-pull-request.yml
Due: none

triggering pr workflows
  admin/app/bootstrap.py
  flags/app/bootstrap.py
  frontend/src/components/help.tsx
  sdk/javascript/README.md
  sdk/python/README.md
Due: admin-type-check, flags-type-check, sdk-python-type-check, frontend-lint

workflow fixes
  .github/workflows/frontend-pull-request.yml
  .github/workflows/sdk-javascript-pull-request.yml
  admin/tests/api/run-tests.sh
  flags/tests/api/run-tests.sh
  sdk/python/requirements-dev.txt
Due: none
